// File: about.less
// Note: 

.about {
  &:extend(.bg-white);
}


.about__info {
  font-weight: @font-weight-light;
  margin: @margin-large auto;
  max-width: @screen-xs-min;
  text-align: center;
  @media (min-width: @screen-sm-min){
    max-width: @screen-sm-min;
  }
}
