// File: base.less
// Note: Just some core stuff.

.site-wrapper {
  margin: 0 auto;
}

section {
  background-color: @gray-lightest;
}

.dummy {
  height: 600px;
  border-bottom: 1px solid @gray-light;
}
