// File: card.less
// Note: 

.card {
  background-color: @gray-lightest;
  border-radius: @border-radius-large;
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto @margin-large;
  width: 100%;
  /*@media (min-width: @screen-sm-min){
    margin-bottom: 0;
  }*/
}

