// File: footer.less
// Note: 


.footer {
  &:extend(.bg-gray-lighter);
  padding: @padding-xlarge 0;
  position: relative;
  text-align: center;
}

.footer__logo {
  //background-color: @white;
  display: inline-block;
  max-width: 160px
}

.footer__logo__img {
  display: block;
  //height: 120px;
  width: 100% \9; // IE 8-10 svg fix
  width: 100%;
}
