// File: hero.less
// Note: Large hero section.

.hero {
  
  background-size: cover;
  padding: 60px 0;

  &--home {
    background-image: url('../img/fpo-intro.jpg');
  }
  &__container {
    &:extend(.container-fluid);
    max-width: 670px;
  }
  &__headline {
    text-align: center;
    padding: 100px 0;
    h1 {
      color: @white;
      font-weight: @font-weight-light;
    }
    p {
      color: @gray-lightest;
      font-weight: @font-weight-light;
    }
  }

  @media (min-width: @screen-lg-min) {
    background-attachment: fixed;
    &--home {
      background-position: 0px -200px;
    }
  }
}



