// File: profile.less
// Note: 

.profile {
  &:extend(.bg-gray-lightest);
  line-height: 1.2;
}

.profile__container {
  max-width: 320px;
  @media (min-width: @screen-sm-min) {
    max-width: @screen-md-min;
  }
}

.profile__avatar {
  text-align: center;
}

.profile__avatar__img {
  &:extend(.img-circle);
  border: 6px solid @gray-lighter;
  max-width: 180px;
  width: 100%;
  @media (min-width: @screen-sm-min) {
    max-width: 240px;
    text-align: left;
  }
}

.profile__info {
  &:extend(.font-weight-light);
  text-align: center;
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
}

.profile__info__name {
  &:extend(.font-weight-light);
}

.profile__info__phone,.profile__info__email {
  @media (min-width: @screen-sm-min) {
    .inline-block();
  }
}

.profile__info__phone {
  @media (min-width: @screen-sm-min) {
    margin-right: @margin-small;
  }
}

.profile__info__email {
  margin: -@margin-small 0 @margin-xlarge;
  @media (min-width: @screen-sm-min) {
    margin: 0;
  }
}

.profile__info__social {
  margin-bottom: @margin-xlarge;
  > a {
    font-size: 30px;
    margin: 0 @margin-small;
    @media (min-width: @screen-sm-min) {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.profile__blockquote {
  border-left-style: dotted;
  color: @gray;
  font: normal 400 16px @font-family-serif;
  line-height: 1.5;
  margin-top: 46px;
}

.profile__blockquote__emphasis {
  color: @brand-primary;
  font-size: 22px;
  font-style: italic;
  letter-spacing: 1px;
}




